.header{
    font-family: 'Quicksand', sans-serif;
}
.delete{
    float: right;
}
.container-fluid{
   background-image: url('/src/assets/todo.jpeg');
   background-position: center;
   background-size: cover;
   /* background-color: cornsilk; */
}

.card{
    margin-bottom: 20px;
}
p{
    font-family: 'Signika', sans-serif;
}
